<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/logo_ld.png" alt="" class="w-50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registerNotice">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewNotices">Ver Avisos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewWorkshopNotices">Taller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewPlantNotices">Planta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewSstNotices">SST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewAlerts">Crono</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noticesHistory">Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/performance">Reportes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>